.book {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 15px;
  width: 580px;
}

.book__main-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.book__main-details {
  display: flex;
  justify-content: space-around;
}

.book__title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.book__img {
  height: 200px;
  width: 150px;
  border-radius: 15px;
}

.book__description {
  font-size: 15px;
  line-height: 16px;
}

.book__author {
  font-size: 15px;
}
