.book {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 15px;
}

.book__main-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.book__img {
  height: 240px;
  width: 180px;
  border-radius: 15px;
}

.book__main-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-around;
}

@media (min-width: 1280px) {
  .book {
    flex-direction: row;
    width: 580px;
  }

  .book__main-details {
    flex-direction: row;
  }

  .book__title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }

  .book__img {
    height: 200px;
    width: 150px;
  }

  .book__description {
    font-size: 15px;
    line-height: 16px;
  }

  .book__author {
    font-size: 15px;
  }
}
