.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
}

.links {
  display: flex;
  gap: 14px;
  font-size: 35px;
}
