.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.navbar__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo__title {
  font-size: 18px;
  letter-spacing: 3px;
  font-family: 'Space Mono', monospace;
}

.logo__img {
  height: 30px;
  width: 30px;
}

.navbar__menu {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.navbar__menu__item {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}

.navbar a.active {
  font-weight: bold;
}

.navbar__menu__welcome {
  font-weight: bold;
  cursor: default;
}

@media (min-width: 1280px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    height: 45px;
    background-color: #f2ede8;
  }

  .navbar__logo {
    flex-direction: row;
    gap: 12px;
    margin-left: 80px;
  }

  .navbar__menu {
    flex-direction: row;
    gap: 60px;
    margin-right: 80px;
  }
}
