.favlist-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 65px;
}

.favlist-offline-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
