.favlist-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 35px;
  margin-bottom: auto;
}

.favlist-offline-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

@media (min-width: 1280px) {
  .favlist-container {
    height: 80vh;
    gap: 65px;
  }

  .favlist-offline-container {
    height: 80vh;
  }
}
