.booklist-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 35px;
}

@media (min-width: 1280px) {
  .booklist-container {
    flex-direction: row;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 65px;
  }
}
