.details-container {
  height: 80vh;
  width: 70%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  gap: 20px;
}

.details__img {
  height: 550px;
  border-radius: 12px;
}

.details__main-info {
  margin: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.details__title {
  font-size: 48px;
}

.details-text-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
  font-size: 18px;
}

.details__review {
  font-style: italic;
}
